[Unit]
Description=Generate Locales
Before=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/locale-gen

[Install]
WantedBy=multi-user.target