[Desktop Entry]
Type=Application
Name=SECUX Installer
Exec=/usr/bin/sudo /usr/bin/python3 /usr/local/share/secux-installer/main.py
X-GNOME-Autostart-enabled=true
